#canvas1{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
   translate: -50% -50%;
   background: url(images/background1.jpg);
   max-height: 90%;

}

#beetlemorph, #player, #player_jets, #rhinomorph, #boss{
    display: none;
}

body
{
    background-color: black;
}
